{% extends 'SdamvalBundle::layout.html.twig' %}
    {% block menutop %}
        <div class="box-container">
            <div class="box-holder">
                <a href="{{ path('manager') }}"><div class="box" id="menu1"><span><i class="icon-home"></i></span>صفحه ی اصلی</div></a>
            </div>
            <div class="box-holder">
                <a href="{{ path('messages') }}"><div class="box" id="menu2"><span><i class="icon-inbox"></i></span>پیام ها</div></a>
            </div>
            <div class="box-holder">
                <a href="{{ path('gallery') }}"><div class="box" id="menu3"><span><i class="icon-camera"></i></span>گالری</div></a>
            </div>
            <div class="box-holder">
                <a  href="{{ path('user') }}"><div class="box active" id="menu4"><span><i class="icon-user"></i></span>اطلاعات کاربری</div></a>
            </div>
        </div>
    {% endblock %}
    {% block rightmenu %}
        <div class="span3">
            <ul id="sidebar" class="nav nav-tabs nav-stacked">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('manager') }}"><i class="icon-manager"></i>&nbsp;&nbsp;مدیریت مدیران سازمان ها</a>
                </li>
                <li><a href="{{ path('subset') }}"><i class="icon-th-large"></i>&nbsp;&nbsp;ثبت زیر مجموعه</a></li>
            {% elseif is_granted('ROLE_MANAGER') %}
                <li><a href="{{ path('subset') }}"><i class="icon-th-large"></i>&nbsp;&nbsp;ثبت زیر مجموعه</a></li>
                {% endif %}
                <li><a href="{{ path('kala') }}"><i class="icon-table"></i>&nbsp;&nbsp;ثبت اموال جدید</a></li>
                <li><a href="{{ path('messages') }}"><i class="icon-comments-alt"></i>&nbsp;&nbsp;پیام ها<span class="label label-success pull-right">New!</span></a></li>
                <li><a href="{{ path('recycle') }}"><i class="icon-globe"></i>&nbsp;&nbsp;ثبت اموال متلاشی شده<span class="label label-success pull-right">6</span></a></li>
                <li><a href="#"><i class="icon-truck"></i>&nbsp;&nbsp;گروه بندی اموال<span class="label label-success pull-right">3</span></a></li>
                <li><a href="#"><i class="icon-bolt"></i>&nbsp;&nbsp;گزارش گیری اموال</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i>&nbsp;&nbsp;درخواست اموال جدید</a></li>
                <li class="active"><a href="{{ path('user') }}"><i class="icon-user"></i>&nbsp;&nbsp;اطلاعات کاربری</a></li>
                <li><a href="{{ path('help') }}"><i class="icon-legal"></i>&nbsp;&nbsp;راهنما</a></li>
            </ul>
        </div>

    {% endblock %}
{% block content %}
    <div class="span9 transition">
        <h1 class="page-title">اطلاعات کاربری</h1>


        <div class="widget">
            <div class="widget-header">
                <h3>ویرایش پروفایل</h3>
            </div>
            <div class="widget-content">
                <form>
                    <div class="span4"><label>نام کاربری</label><input type="text" value="loremipsum" class="span4"></div>
                    <div class="span4"><label>ایمیل</label><input type="text" value="lorem@ipsum.com" class="span4"></div>
                    <div class="span4"><label>نام</label><input type="text" value="علی" class="span4"></div>
                    <div class="span4"><label>نام خانوادگی</label><input type="text" value="احمدی" class="span4"></div>
                    <div class="span8"><label>آدرس</label><textarea cols="5" rows="5"  class="span5">مشهد - خیابان سعدی</textarea></div>
                    <div class="span5">
                        <label>منطقه ی زمانی</label>
                        <select name="DropDownTimezone" id="DropDownTimezone" class="span5">
                            <option value="3.5" selected="selected">(GMT +3:30) تهران</option>
                            <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
                            <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
                            <option value="-10.0">(GMT -10:00) Hawaii</option>
                            <option value="-9.0">(GMT -9:00) Alaska</option>
                            <option  value="-8.0">(GMT -8:00) Pacific Time (US & Canada)</option>
                            <option value="-7.0">(GMT -7:00) Mountain Time (US & Canada)</option>
                            <option value="-6.0">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
                            <option value="-5.0">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
                            <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                            <option value="-3.5">(GMT -3:30) Newfoundland</option>
                            <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                            <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
                            <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                            <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                            <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
                            <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                            <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                            <option value="4.5">(GMT +4:30) Kabul</option>
                            <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                            <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                            <option value="5.75">(GMT +5:45) Kathmandu</option>
                            <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                            <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                            <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                            <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
                            <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                            <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                            <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                        </select>
                    </div>
                    <div class="span3 pull-right">
                        <a href="#" class="btn btn-info btn-user-info">بروز رسانی</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}