{% extends 'SdamvalBundle::layout.html.twig' %}
{% block title %}ثبت اموال جدید{% endblock %}
    {% block menutop %}
        <div class="box-container">
            <div class="box-holder">
                <a href="{{ path('manager') }}">
                    <div class="box active" id="menu1"><span><i class="icon-home"></i></span>صفحه ی اصلی</div>
                </a>
            </div>
            <div class="box-holder">
                <a href="{{ path('messages') }}">
                    <div class="box" id="menu2"><span><i class="icon-inbox"></i></span>پیام ها</div>
                </a>
            </div>
            <div class="box-holder">
                <a href="{{ path('gallery') }}">
                    <div class="box" id="menu3"><span><i class="icon-camera"></i></span>گالری</div>
                </a>
            </div>
            <div class="box-holder">
                <a href="{{ path('user') }}">
                    <div class="box" id="menu4"><span><i class="icon-user"></i></span>اطلاعات کاربری</div>
                </a>
            </div>
        </div>
    {% endblock %}
    {% block rightmenu %}
        <div class="span3">
            <ul id="sidebar" class="nav nav-tabs nav-stacked">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('manager') }}"><i class="icon-manager"></i>&nbsp;&nbsp;مدیریت مدیران سازمان ها</a>
                </li>
                <li><a href="{{ path('subset') }}"><i class="icon-th-large"></i>&nbsp;&nbsp;ثبت زیر مجموعه</a></li>
            {% elseif is_granted('ROLE_MANAGER') %}
                <li><a href="{{ path('subset') }}"><i class="icon-th-large"></i>&nbsp;&nbsp;ثبت زیر مجموعه</a></li>
                {% endif %}
                <li class="active"><a href="{{ path('kala') }}"><i class="icon-table"></i>&nbsp;&nbsp;ثبت اموال جدید</a>
                </li>
                <li><a href="{{ path('messages') }}"><i class="icon-comments-alt"></i>&nbsp;&nbsp;پیام ها<span
                                class="label label-success pull-right">New!</span></a></li>
                <li><a href="{{ path('recycle') }}"><i class="icon-globe"></i>&nbsp;&nbsp;ثبت اموال متلاشی شده<span
                                class="label label-success pull-right">6</span></a></li>
                <li><a href="#"><i class="icon-truck"></i>&nbsp;&nbsp;گروه بندی اموال<span
                                class="label label-success pull-right">3</span></a></li>
                <li><a href="#"><i class="icon-bolt"></i>&nbsp;&nbsp;گزارش گیری اموال</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i>&nbsp;&nbsp;درخواست اموال جدید</a></li>
                <li><a href="{{ path('user') }}"><i class="icon-user"></i>&nbsp;&nbsp;اطلاعات کاربری</a></li>
                <li><a href="{{ path('help') }}"><i class="icon-legal"></i>&nbsp;&nbsp;راهنما</a></li>
            </ul>
        </div>
    {% endblock %}
{% block content %}
    <div class="span9 transition">
        <h1 class="page-title">اموال</h1>

        <div class="widget">
            <div class="widget-header">
                <h3><i class="icon-pencil"></i>&nbsp;&nbsp;ثبت اموال جدید</h3>
            </div>
            <div class="widget-content">
                <form action="{{ path('kala_create') }}" method="post" {{ form_enctype(form) }}>
                    <div class="span4"><label>کد اموال</label>
                        {{ form_errors(form.id) }}
                        {{ form_widget(form.id,{'attr': {'class': 'span3'} }) }}
                    </div>
                    <div class="span4"><label>نام</label>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name,{'attr': {'class': 'span3'} }) }}
                    </div>
                    <div class="span4"><label>قیمت</label>
                        {{ form_errors(form.cost) }}
                        {{ form_widget(form.cost,{'attr': {'class': 'span3'} }) }}
                    </div>
                    <div class="span4"><label>تعداد</label>
                        {{ form_errors(form.count) }}
                        {{ form_widget(form.count,{'attr': {'class': 'span3'} }) }}
                    </div>
                    <div class="span4"><label>تاریخ ثبت</label>
                        {{ form_errors(form.date) }}
                        {{ form_widget(form.date,{'attr': {'class': 'span3'} }) }}
                    </div>
                    <div class="span4">
                        <label>گروه</label>
                        {{ form_errors(form.category) }}
                        {{ form_widget(form.category,{'attr': {'class': 'span3'} }) }}
                    </div>
                    <div class="span3 pull-right">
                        <input type="submit" class="btn btn-info btn-user-info" value="ثبت"/>
                    </div>
                    <div style="display: none">
                        {{ form_widget(form._token) }}
                    </div>
                </form>
                <div class="span2" style="float: left">
                    <a class="btn btn-success" href="{{ path('kala') }}"><i class="icon-undo"></i> بازگشت به لیست</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <!-- Javascript files -->
    <script src="{{ asset('bundles/sdamval/js/bootstrap.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-transition.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-alert.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-affix.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-modal.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-dropdown.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-scrollspy.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-tab.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-tooltip.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-popover.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-button.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-collapse.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-carousel.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap-typeahead.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdamval/js/jquery.min.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/bootstrap.js')}}"></script>
    <!--Non-Bootstrap JS-->
    <script type="text/javascript" src="{{ asset('bundles/sdamval/js/jquery.transit.min.js')}}"></script>

    <script src="{{ asset('bundles/sdamval/js/jquery.smooth-scroll.min.js')}}"></script>
    <script src="{{ asset('bundles/sdamval/js/jquery.quicksand.js')}}"></script>
    <script type='text/javascript'>
        var objCal1 = new AMIB.persianCalendar( 'objCal1', 'sd_amvalbundle_kalatype_date' );
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip();
            $('#t1').smoothScroll();
            $(".transition").css("display", "none");
            $(".transition").fadeIn(1000);
        });
        $(".delete-row").click(function () {
            var conf = confirm('حذف شود؟');
            if (conf) $(this).parents('tr').fadeOut(function () {
                $(this).remove();
            });
        });
    </script>
{% endblock %}